<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITの歴史</title>
    <link rel="stylesheet" href="../css/all-style.css">
    <link rel="stylesheet" href="../css/it-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@800&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/favicon (1).ico">
</head>

<body>
    <h1>ITの歴史トップページ</h1>

    <ul>
    <li><a href="mobilephone.html">スマホの歴史ページ</a></li>
    <li><a href="PC.html">PCの歴史ページ</a></li>
    </ul>

    <div class="box">
        <img src="img/job_technical_evangelist_ai_woman.png">
        <img src="img/computer_girl.png">
    </div>

    
</body>

</html>