<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>携帯電話の歴史</title>
    <link rel="stylesheet" href="../css/it-style.css">
    <link rel="stylesheet" href="../css/all-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@800&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/favicon (1).ico">
</head>
<body>
    <h1>携帯電話の誕生と歴史</h1>

    <ul>
        <li><a href="it-top.html">ITの歴史トップページに戻る</a></li>
        <li><a href="PC.html">PCの歴史ページ</a></li>
        <li><a href="https://mobile.nuro.jp/sumaho-arekore/knowledge/897/">参考サイト</a></li>
    </ul>

    <table>
        <thead>
            <caption>歴史の年表</caption>
            <tr>
                <td>1985年</td>
                <td>国内初、携帯電話のレンタルが開始。</td>
            </tr>
            <tr>
                <td>1991年</td>
                <td>NTTがMOVAを発売。</td>
            </tr>
            <tr>
                <td>1992年</td>
                <td>「NTTドコモ」が誕生。</td>
            </tr>
            <tr>
                <td>1997年</td>
                <td>ドコモがメールサービスを開始。</td>
            </tr>
            <tr>
                <td>1999年</td>
                <td>電話番号の桁数の10桁から11桁に。カメラ付き携帯電話が発売。</td>        
            </tr>
            <tr>
                <td>2000年</td>
                <td>「au」が誕生。</td>
            </tr>
            <tr>
                <td>2007年</td>
                <td>Appleが初代iPhoneを発表。</td>
            </tr>
            <tr>
                <td>2009年</td>
                <td>ドコモが初のAndroid搭載スマートフォンを発売。</td>
            </tr>
            <tr>
                <td>2011年</td>
                <td>auがiPhoneを発売。
                    「LINE」、リリース。</td>
            </tr>
            <tr>
                <td>2013年</td>
                <td>AppleがiPhone5S/5Cを発表。</td>
            </tr>
            <tr>
                <td>2015年</td>
                <td>MVNO初登場のSo-net SIMカード対応
                    「Xperia J1 Compact」発売開始</td>
            </tr>
            <tr>
                <td>2020年</td>
                <td>新しい通信方式である5G（第5世代移動通信システム）がスタートしました。</td>
            </tr>
</thead>

</table>

<div class="box">
    <img src="img/20190517_02.png" alt="携帯電話の歴史">
    <img src="img/zu1.jpg" alt="携帯電話の歴史">
    </div>

</body>
</html>