<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCの歴史</title>
    <link rel="stylesheet" href="../css/it-style.css">
    <link rel="stylesheet" href="../css/all-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@800&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/favicon (1).ico">
</head>
<body>
    <h1>パソコンの誕生と歴史</h1>

    <li><a href="it-top.html">ITの歴史トップページに戻る</a></li>
    <li><a href="mobilephone.html">携帯電話の歴史ページ</a></li>
    <li><a href="https://www.komazawa-u.ac.jp/~kobamasa/reference/nenpyo/computerHis_UeyamaS/computerHis_UeyamaS.htm">参考サイト</a></li>

    <table>
        <thead>
            <caption>歴史の年表</caption>
             <tr>
                  <th>年代</th>
                  <th>出来事</th>
             </tr>
        </thead>
    
        <tbody>
            <tr>
                <td>1970年代</td>
                <td>世界で初めてのパソコンとして歴史に残るものは、
                    1975年にアメリカのMITS社が発売した組み立てキットの「Altair8800」である。</td>
            </tr>
            <tr>
                <td>1980年代</td>
                <td>1980年代に入ると日本仕様のパソコンとして歴史に残る大ヒットを記録した「PC-9801」がNECから発売された。
                    このパソコンは、それまで使用されていたアメリカ製のパソコンと異なり、
                    日本語入力に長けていたため大ヒットしたのである。</td>
            </tr>
            <tr>
                <td>1990年代</td>
                <td>1990年代のパソコンの歴史に残る大きな事柄は、1992年にDOS/Vパソコンが登場したことがあげられる。それまでのパソコンには、日本語表示がなかったことに対し、
                    このDOS/Vパソコンはキーボードからの入力やファイルの保存などを日本語で処理することを可能にしたのだ。</td>
            </tr>
            <tr>
                <td>2000年代</td>
                <td>2000年代に突入してからもパソコンは進化を続け、新しい歴史を築いている。2001年にWindows XPが発表され、
                    それまでのパソコンの歴史ではデスクトップが主流であったものが、
                    ノートパソコンが主流の時代へと変化をとげた。</td>
            </tr>
            </tbody>
            </table>

            <div class="box">
                <img src="img/ba4c77bdc9b8fa8c7c2fcaae15d7719523d93ce0.png" alt="パソコンの歴史">
                <img src="img/MZ-80K2.png" alt="パソコンの歴史">
            </div>
</body>
</html>