<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>気になる企業紹介トップページ</title>
    <link rel="stylesheet" href="../css/all-style.css">
    <link rel="stylesheet" href="../css/company.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@800&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/favicon (1).ico">
</head>
<body>
    <h1>気になる企業紹介トップページ</h1>

    <ul>
    <li><a href="NTT.html">NTT企業の紹介</a></li>
    </ul>

    <div class="box">
        <img src="img/computer_cursor_finger_white.png">
        <img src="img/ojigi_animal_kuma.png">
    </div>

    
</body>
</html>