<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NTT企業紹介ページ</title>
    <link rel="stylesheet" href="../css/all-style.css">
    <link rel="stylesheet" href="../css/company.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@800&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/favicon (1).ico">
</head>
<body>
    <h1>NTT企業紹介ページ</h1>

    <ul>
    <li><a href="https://group.ntt/jp/">NTT企業公式ホームページ</a></li>
    <li><a href="co-top.html">企業紹介ページに戻る</a></li>
    <li><a href="https://www.ntt-east.co.jp/recruit/new-grad/voice/">社員の声</a></li>
    </ul>

    <ul>
    <p>なぜNTT企業に興味を持ったのか。</p>
    <li>IT企業ランキング1位だった。</li>
    <li>社員アンケートで良い評価をされていた。</li>
    <li>世界中にICTサービスを提供するグローバル企業で、すごい！と思った。</li>
    </ul>

    <ul>
    <p>NTT企業の魅力</p>
    <li>「技術力」「信頼性」「柔軟性・先進性」の３つの強み。</li>
    <li>NTTグループで働く社員数は、約33万人。
        NTTグループは今や全世界で900社以上、30万人の社員を抱え、世界中にICTサービスを提供するグローバル企業。</li>
    <li>2023年3月期のNTTグループの売上高（営業収益）は約13.13兆円。</li>
    <li>研究開発部門をもつ通信会社。</li>
    </ul>

    <div class="box">
        <img src="img/ogp.jpg">
        <img src="img/mv_illust.png">
    </div>
</body>
</html>