<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML/CSS中間課題</title>
    <link rel="stylesheet" href="css/all-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@800&display=swap" rel="stylesheet">
    <link rel="icon" href="img/favicon (1).ico">
</head>
<body>

    <h1>HTML/CSS中間課題</h1>
    <p>総合システム工学科</p>
    <p>4232111</p>
    <p>田代帆花</p>


    <ul>
    <li><a href="it/it-top.html">IT-TOPページのリンク先</a></li>
    <li><a href="company/co-top.html">conpany-TOPページのリンク先</a></li>
    <li><a href="news/news-top.html">news-TOPページのリンク先</a></li>
    <li><a href="self-introduction/self-introduction.html">自己紹介ページ</a></li>
    </ul>
    
</body>
</html>