<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/all-style.css">
    <link rel="stylesheet" href="../css/news-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@800&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/favicon (1).ico">
</head>
<body>

    <h1>気になったニュース</h1>

    <ul>
    <li><a href="news-top.html">トップページに戻る</li>
    <li><a href="https://www.trenet-s.co.jp/post/luffybandits">参考サイト</a></li>
    </ul>

    <p>ルフィ広域強盗事件</p>
    <p>私が一番印象に残っているのはルフィ広域強盗事件です。なぜ印象に残っているかというと、<br>SNSを通じて掲載された異常に高い報酬のアルバイト＝闇バイトの募集を見て集まった若者が犯行をしたという点と<br>
        指示役が人気漫画『ワンピース』の主人公「ルフィ」の名前を名乗っていたからです。</p>

        <p>衝撃的なニュースだと思いました。私はワンピースが好きなのですが主人公の名前を使っていて誠に遺憾です！<br>好きなアニメのキャラクターの名前を使われたのでショックでした。名乗るならせめてイニシャルとかにしてほしかったです。<br>強盗も傷害も殺人等の犯罪は何があっても絶対にしてはいけないと思います。誰も幸せにはなれないし<br>お互い不幸になるだけです。この事件は本当に悲しい事件でした。被害者が報われますように。</p>

        <div class="box">
            <img src="img/img_78abee51d131280e412c1ea6480cd5c6412244.jpg">
            <img src="img/AS20230719004003.jpg">
            </div>
        

</body>
</html>