<!--記述済みの部分は変更しないでください！-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自己紹介</title>
    <link rel="stylesheet" href="../css/all-style.css">
    <link rel="stylesheet" href="../css/self-introduction-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@800&display=swap" rel="stylesheet">
    <link rel="icon" href="img/favicon (1).ico">
</head>

<body>

    <h1>☆自己紹介ページ☆</h1>
    <a class="mark-list">
        <ul>
<li><a href="../index.html">トップページに戻る</a></li>
            </ul>
        <li>自己紹介をお願いします！</li>
        <p>A.田代帆花です!</p>
        <li>長所・短所は？</li>
        <p>A.長所はいつも元気な所です!短所はマイペースな所です!</p>
        <li>自分を動物に例えると何ですか？</li>
        <p>A.猫です!マイペースな所に似ているからです!
        <li>自分をIT機器に例えると何だと思いますか？</li>
        <p>A.パソコンです！</p>
        <li>ストレス発散方法はありますか？</li>
        <p>A.寝ることです!</p>
        <li>一つ夢が叶うとしたら何をお願いしますか？</li>
        <p>A.生まれ変わりたいです!</p>
        <li>今後働く上で、モチベーションを高めるものは何だと思いますか？逆に、下げるものは何だと思いますか？</li>
        <p>A.高めるものはやりがいです！下げるものは人間関係です!</p>
        <li>100万円あったら何に使いますか？</li>
        <p>A.とりあえず貯金します!</p>
        <li>「オススメの○○」を教えてください！</li>
        <p>A.おすすめのアニメは[ダークキャザリング]というアニメです。最近見始めたのですがホラーアニメでグロイシーンもあり胸糞悪いシーンもありますがとても面白いので見てみてください！</p>
        <div class="box">
            <a href="https://darkgathering.jp/">公式サイト</a>
            <img src="img/ogp (1).jpg">
            <img src="img/3269754496325754680-ceaac4bea7db088d0366591ca32ce542.jpg">
            </div>

    </ul>
</body>

</html>